<!-- inspector-panel.html -->
<div class="flex flex-col gap-3 p-3 h-full overflow-auto text-xs">

  <div *ngIf="!sceneService.selectedNode()" class="text-gray-400 dark:text-gray-500 italic">
    No object selected
  </div>

  <ng-container *ngIf="sceneService.selectedNode() as node">

    <div class="flex items-center gap-2 pb-2 border-b border-[var(--theme-color-border)]">
      <i class="pi pi-box shrink-0"></i>
      <span class="font-medium truncate">{{ nodeName() }}</span>
    </div>

    <p-accordion [multiple]="true">

      <p-accordion-panel *ngIf="transformNode() as t" value="Node">
        <p-accordion-header>
          <div class="flex items-center gap-2">
            <span class="text-xs font-medium">Node</span>
          </div>
        </p-accordion-header>
        <p-accordion-content>
          <div class="flex flex-col gap-3 pt-2">
            <app-input-text-control
              label="Name">
            </app-input-text-control>
            <app-input-text-control
              label="Id">
            </app-input-text-control>
            <app-boolean-control
              label="Enabled">
            </app-boolean-control>
            <app-boolean-control
              label="Start">
            </app-boolean-control>
            <app-boolean-control
              label="Update">
            </app-boolean-control>
            <app-boolean-control
              label="Render">
            </app-boolean-control>
          </div>
        </p-accordion-content>
      </p-accordion-panel>


      <p-accordion-panel *ngIf="transformNode() as t" value="Transform">
        <p-accordion-header>
          <div class="flex items-center gap-2">
            <i class="pi pi-arrows-alt text-xs shrink-0"></i>
            <span class="text-xs font-medium">Transform</span>
          </div>
        </p-accordion-header>
        <p-accordion-content>
          <div class="flex flex-col gap-3 pt-2">
            <app-transform-control [transformNode]="t"></app-transform-control>
            <app-select-control
              label="Render Space" 
              [options]="physicsWorldOptions">
            </app-select-control>
            <app-select-control
              label="Anchor2D" 
              [options]="physicsWorldOptions">
            </app-select-control>
            <app-select-control
              label="Propagation Lock" 
              [options]="physicsWorldOptions">
            </app-select-control>
          </div>
        </p-accordion-content>
      </p-accordion-panel>

      <p-accordion-panel *ngIf="transformNode() as t" value="Texture Material">
        <p-accordion-header>
          <div class="flex items-center gap-2">
            <i class="pi pi-image text-xs shrink-0"></i>
            <span class="text-xs font-medium">Texture Material</span>
          </div>
        </p-accordion-header>
        <p-accordion-content>
          <div class="flex flex-col gap-3 pt-2">
            <app-resource-picker-control
              label="Texture File"
              [itemName]="null"
              [actions]="materialActions"
              (actionSelected)="onMaterialAction($event)">
            </app-resource-picker-control>
            <app-resource-picker-control
              label="Shader File"
              [itemName]="null"
              [actions]="materialActions"
              (actionSelected)="onMaterialAction($event)">
            </app-resource-picker-control>
          </div>
        </p-accordion-content>
      </p-accordion-panel>

      <p-accordion-panel *ngIf="transformNode() as t" value="Cubemap Material">
        <p-accordion-header>
          <div class="flex items-center gap-2">
            <i class="pi pi-image text-xs shrink-0"></i>
            <span class="text-xs font-medium">Cubemap Material</span>
          </div>
        </p-accordion-header>
        <p-accordion-content>
          <div class="flex flex-col gap-3 pt-2">
            <app-resource-picker-control
              label="Cubemap File"
              [itemName]="null"
              [actions]="materialActions"
              (actionSelected)="onMaterialAction($event)">
            </app-resource-picker-control>
            <app-resource-picker-control
              label="Shader File"
              [itemName]="null"
              [actions]="materialActions"
              (actionSelected)="onMaterialAction($event)">
            </app-resource-picker-control>
          </div>
        </p-accordion-content>
      </p-accordion-panel>

      <p-accordion-panel *ngIf="transformNode() as t" value="Text Material">
        <p-accordion-header>
          <div class="flex items-center gap-2">
            <i class="pi pi-image text-xs shrink-0"></i>
            <span class="text-xs font-medium">Text Material</span>
          </div>
        </p-accordion-header>
        <p-accordion-content>
          <div class="flex flex-col gap-3 pt-2">
            <app-resource-picker-control
              label="Font File"
              [itemName]="null"
              [actions]="materialActions"
              (actionSelected)="onMaterialAction($event)">
            </app-resource-picker-control>
            <app-resource-picker-control
              label="Shader File"
              [itemName]="null"
              [actions]="materialActions"
              (actionSelected)="onMaterialAction($event)">
            </app-resource-picker-control>
            <app-input-text-control 
              label="Content">
            </app-input-text-control>
            <app-input-text-control 
              label="Size"
              type="number">
            </app-input-text-control>
            <app-color-picker-control
              label="Color">
            </app-color-picker-control>
          </div>
        </p-accordion-content>
      </p-accordion-panel>


      <p-accordion-panel *ngIf="transformNode() as t" value="Wireframe Material">
        <p-accordion-header>
          <div class="flex items-center gap-2">
            <i class="pi pi-image text-xs shrink-0"></i>
            <span class="text-xs font-medium">Wireframe Material</span>
          </div>
        </p-accordion-header>
        <p-accordion-content>
          <div class="flex flex-col gap-3 pt-2">
            <app-color-picker-control
              label="Color">
            </app-color-picker-control>
          </div>
        </p-accordion-content>
      </p-accordion-panel>

      <p-accordion-panel *ngIf="transformNode() as t" value="Mesh">
        <p-accordion-header>
          <div class="flex items-center gap-2">
            <i class="pi pi-box text-xs shrink-0"></i>
            <span class="text-xs font-medium">Mesh</span>
          </div>
        </p-accordion-header>
        <p-accordion-content>
          <div class="flex flex-col gap-3 pt-2">
            <app-resource-picker-control
              label="Mesh File"
              [itemName]="null"
              [actions]="materialActions"
              (actionSelected)="onMaterialAction($event)">
            </app-resource-picker-control>
          </div>
        </p-accordion-content>
      </p-accordion-panel>

      <p-accordion-panel *ngIf="transformNode() as t" value="Rigid Physics">
        <p-accordion-header>
          <div class="flex items-center gap-2">
            <i class="pi pi-bolt text-xs shrink-0"></i>
            <span class="text-xs font-medium">Rigid Physics</span>
          </div>
        </p-accordion-header>
        <p-accordion-content>
          <div class="flex flex-col gap-3 pt-2">
            <app-select-control
              label="Physics World" 
              [options]="physicsWorldOptions">
            </app-select-control>
            <app-input-text-control 
              label="Mass"
              type="number">
            </app-input-text-control>
            <app-input-text-control 
              label="Restitution"
              type="number">
            </app-input-text-control>
            <app-input-text-control 
              label="Linear Damping"
              type="number">
            </app-input-text-control>
            <app-input-text-control 
              label="Angular Damping"
              type="number">
            </app-input-text-control>
            <app-input-text-control 
              label="Friction"
              type="number">
            </app-input-text-control>
          </div>
        </p-accordion-content>
      </p-accordion-panel>

      <p-accordion-panel *ngIf="transformNode() as t" value="Static Physics">
        <p-accordion-header>
          <div class="flex items-center gap-2">
            <i class="pi pi-bolt text-xs shrink-0"></i>
            <span class="text-xs font-medium">Static Physics</span>
          </div>
        </p-accordion-header>
        <p-accordion-content>
          <div class="flex flex-col gap-3 pt-2">
            <app-select-control
              label="Physics World" 
              [options]="physicsWorldOptions">
            </app-select-control>
          </div>
        </p-accordion-content>
      </p-accordion-panel>

      <p-accordion-panel *ngIf="transformNode() as t" value="Collider">
        <p-accordion-header>
          <div class="flex items-center gap-2">
            <i class="pi pi-globe text-xs shrink-0"></i>
            <span class="text-xs font-medium">Collider</span>
          </div>
        </p-accordion-header>
        <p-accordion-content>
          <div class="flex flex-col gap-3 pt-2">
            <app-resource-picker-control
              label="Collider File"
              [itemName]="null"
              [actions]="materialActions"
              (actionSelected)="onMaterialAction($event)">
            </app-resource-picker-control>
            <app-select-control
              label="Anchor3D" 
              [options]="physicsWorldOptions">
            </app-select-control>
            <app-transform-control [transformNode]="t"></app-transform-control>

          </div>
        </p-accordion-content>
      </p-accordion-panel>

      <p-accordion-panel *ngIf="transformNode() as t" value="Animation">
        <p-accordion-header>
          <div class="flex items-center gap-2">
            <i class="pi pi-play text-xs shrink-0"></i>
            <span class="text-xs font-medium">Animation</span>
          </div>
        </p-accordion-header>
        <p-accordion-content>
          <div class="flex flex-col gap-3 pt-2">
            <app-resource-picker-control
              label="Animation File"
              [itemName]="null"
              [actions]="materialActions"
              (actionSelected)="onMaterialAction($event)">
            </app-resource-picker-control>
          </div>
        </p-accordion-content>
      </p-accordion-panel>

      <p-accordion-panel *ngIf="transformNode() as t" value="Point Emission">
        <p-accordion-header>
          <div class="flex items-center gap-2">
            <i class="pi pi-sun text-xs shrink-0"></i>
            <span class="text-xs font-medium">Point Emission</span>
          </div>
        </p-accordion-header>
        <p-accordion-content>
          <div class="flex flex-col gap-3 pt-2">
            <app-color-picker-control
              label="Color">
            </app-color-picker-control>
            <app-input-text-control 
              label="Intensity"
              type="number">
            </app-input-text-control>
            <app-input-text-control 
              label="Radius"
              type="number">
            </app-input-text-control>
          </div>
        </p-accordion-content>
      </p-accordion-panel>

      <p-accordion-panel *ngIf="transformNode() as t" value="Spot Emission">
        <p-accordion-header>
          <div class="flex items-center gap-2">
            <i class="pi pi-sun text-xs shrink-0"></i>
            <span class="text-xs font-medium">Spot Emission</span>
          </div>
        </p-accordion-header>
        <p-accordion-content>
          <div class="flex flex-col gap-3 pt-2">
            <app-vector3-field
              label="Direction"
              [value]="spotEmissionDirectionVector3">
            </app-vector3-field>
            <app-color-picker-control
              label="Color">
            </app-color-picker-control>
            <app-input-text-control 
              label="Intensity"
              type="number">
            </app-input-text-control>
            <app-input-text-control 
              label="Radius"
              type="number">
            </app-input-text-control>
            <app-input-text-control 
              label="Inner Angle"
              type="number">
            </app-input-text-control>
            <app-input-text-control 
              label="Outer Angle"
              type="number">
            </app-input-text-control>
          </div>
        </p-accordion-content>
      </p-accordion-panel>

      <p-accordion-panel *ngIf="transformNode() as t" value="Sun Emission">
        <p-accordion-header>
          <div class="flex items-center gap-2">
            <i class="pi pi-sun text-xs shrink-0"></i>
            <span class="text-xs font-medium">Sun Emission</span>
          </div>
        </p-accordion-header>
        <p-accordion-content>
          <div class="flex flex-col gap-3 pt-2">
            <app-vector3-field
              label="Direction"
              [value]="spotEmissionDirectionVector3">
            </app-vector3-field>
            <app-color-picker-control
              label="Color">
            </app-color-picker-control>
            <app-input-text-control 
              label="Intensity"
              type="number">
            </app-input-text-control>
          </div>
        </p-accordion-content>
      </p-accordion-panel>

      <p-accordion-panel *ngIf="transformNode() as t" value="Camera">
        <p-accordion-header>
          <div class="flex items-center gap-2">
            <i class="pi pi-camera text-xs shrink-0"></i>
            <span class="text-xs font-medium">Camera</span>
          </div>
        </p-accordion-header>
        <p-accordion-content>
          <div class="flex flex-col gap-3 pt-2">
            
          </div>
        </p-accordion-content>
      </p-accordion-panel>

      <p-accordion-panel *ngIf="transformNode() as t" value="Orbital Camera">
        <p-accordion-header>
          <div class="flex items-center gap-2">
            <i class="pi pi-camera text-xs shrink-0"></i>
            <span class="text-xs font-medium">Orbital Camera</span>
          </div>
        </p-accordion-header>
        <p-accordion-content>
          <div class="flex flex-col gap-3 pt-2">
            <app-select-control
              label="Target Node" 
              [options]="physicsWorldOptions">
            </app-select-control>
            <app-input-text-control 
              label="Distance"
              type="number">
            </app-input-text-control>
            <app-input-text-control 
              label="Min Pitch"
              type="number">
            </app-input-text-control>
            <app-input-text-control 
              label="Max Pitch"
              type="number">
            </app-input-text-control>
          </div>
        </p-accordion-content>
      </p-accordion-panel>

      <p-accordion-panel *ngIf="transformNode() as t" value="Group">
        <p-accordion-header>
          <div class="flex items-center gap-2">
            <i class="pi pi-folder text-xs shrink-0"></i>
            <span class="text-xs font-medium">Group</span>
          </div>
        </p-accordion-header>
        <p-accordion-content>
          <div class="flex flex-col gap-3 pt-2">
            <app-select-control
              label="Group" 
              [options]="physicsWorldOptions">
            </app-select-control>
          </div>
        </p-accordion-content>
      </p-accordion-panel>

      <p-accordion-panel *ngIf="transformNode() as t" value="Sound">
        <p-accordion-header>
          <div class="flex items-center gap-2">
            <i class="pi pi-volume-up text-xs shrink-0"></i>
            <span class="text-xs font-medium">Sound</span>
          </div>
        </p-accordion-header>
        <p-accordion-content>
          <div class="flex flex-col gap-3 pt-2">
            <app-resource-picker-control
              label="Sound File"
              [itemName]="null"
              [actions]="materialActions"
              (actionSelected)="onMaterialAction($event)">
            </app-resource-picker-control>
          </div>
        </p-accordion-content>
      </p-accordion-panel>

      <p-accordion-panel *ngIf="transformNode() as t" value="State Machine">
        <p-accordion-header>
          <div class="flex items-center gap-2">
            <i class="pi pi-sitemap text-xs shrink-0"></i>
            <span class="text-xs font-medium">State Machine</span>
          </div>
        </p-accordion-header>
        <p-accordion-content>
          <div class="flex flex-col gap-3 pt-2">
            <app-resource-picker-control
              label="State Machine File"
              [itemName]="null"
              [actions]="materialActions"
              (actionSelected)="onMaterialAction($event)">
            </app-resource-picker-control>
          </div>
        </p-accordion-content>
      </p-accordion-panel>


      <p-accordion-panel *ngIf="transformNode() as t" value="Script">
        <p-accordion-header>
          <div class="flex items-center gap-2">
            <i class="pi pi-code text-xs shrink-0"></i>
            <span class="text-xs font-medium">Script</span>
          </div>
        </p-accordion-header>
        <p-accordion-content>
          <div class="flex flex-col gap-3 pt-2">
            <app-resource-picker-control
              label="Script File"
              [itemName]="null"
              [actions]="materialActions"
              (actionSelected)="onMaterialAction($event)">
            </app-resource-picker-control>
          </div>
        </p-accordion-content>
      </p-accordion-panel>

      
    </p-accordion>

  </ng-container>

</div>